name: Continuous Integration

on:
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      #rodando "buidando" o codigo e rodando teste
      - name: Build & test
        run: mvn -B -ntp clean verify